uvicorn==0.34.0
fastapi==0.115.12
fastapi-cli==0.0.7
python-docx==1.1.2
redis==5.2.1
pypdf==5.4.0
google==3.0.0
google-api-core==2.24.2
google-auth==2.39.0
google-cloud-appengine-logging==1.6.1
google-cloud-audit-log==0.3.2
google-cloud-core==2.4.3
google-cloud-logging==3.11.4
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-genai==1.11.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
exceptiongroup==1.2.2
SQLAlchemy==2.0.39
einops==0.8.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
threadpoolctl==3.6.0
async-lru==2.0.4
async-timeout==5.0.1
asyncpg==0.30.0
nest-asyncio==1.6.0
sentence-transformers==4.0.2